h1{
    height: 50px;
    width: 100%;
    text-align: center;
    text-size-adjust: 50px;
    font-style: italic;
    background-color: rgb(196, 114, 228);
}
body{
    background-color:whitesmoke;
}