*body{
    background-color: lightblue;
}
h1{
    text-align: center;
    font-style: italic;
    background-color: aqua;
    height: 50px;
    width: 100%;
}
#submit{
    background-color: green;
    color: white;
    font-style: bold;
}